<%= render @todo %>

<div>
  <%= link_to "Edit this todo", edit_todo_path(@todo) %> |
  <%= link_to "Back to todos", todos_path %>

  <%= button_to "Destroy this todo", @todo, method: :delete %>
</div>

<div data-controller="toggle">
  <button data-toggle-target="btn" data-action="click->toggle#toggleVisibility">Hide</button>
  <div  data-toggle-target="toggleable">
    This is the text that will be hidden and shown depending on the state of the button
  </div>
</div>
